img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

body {
  color: white;
  white-space: nowrap;
  background-color: #202122;
  font-size: larger !important;
  font-family: "Ubuntu Mono", monospace;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #06a9df;
}

tr:nth-child(even) {
  background-color: #26292a;
}

tr:hover {
  background-color: #2b2d2d;
}

td[colspan="2"] {
  font-weight: bold;
}
