img.emoji {
  height: 1em !important;
  width: 2em !important;
  margin-left: -0.5em;
}

th img.emoji {
  height: 1.2em !important;
  width: 2.4em !important;
  margin-top: -0.2em;
  margin-bottom: -0.2em;
  margin-left: -0.65em;
  margin-right: -0.75em;
}

body {
  color: white;
  margin: 0;
  white-space: nowrap;
  background-color: #202122;
  font-family: "Ubuntu Mono", monospace;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #482956;
}

tr:nth-child(even) {
  background-color: #26292a;
}

th:first-child,
td:first-child {
  padding-left: 1em;
}

th:last-child,
td:last-child {
  padding-right: 1em;
}

tr:hover {
  background-color: #2b2d2d;
}

td[colspan="2"] {
  font-weight: bold;
}
